/* +++++++++++++
 * reset start +
 * +++++++++++++
 */
* 						{margin: 0;padding: 0;}
body 					{min-width: 1000px;background-color: #f9f9f9;font-family: "Microsoft Yahei", "微软雅黑", Verdana, "宋体";overflow-y: scroll;}
.ie7 body 				{overflow-y: hidden;}
ul,li 					{list-style: none;}
a 						{text-decoration: none;color: #fff;outline-style: none;}
i 						{font-weight: normal;font-style: normal;}
img 					{border: none;}
table 					{border-spacing: 0;}
h1, h2, h3, 
h4, h5, h6 				{font-weight: normal;font-family: "Microsoft Yahei", "微软雅黑", Verdana, "宋体";}
textarea:focus 
,input:focus			{outline: none;}
input[type="text"]
,input[type="password"] {padding: 3px 6px;}

/* ++++++++++++++
 * global start +
 * ++++++++++++++
 */
.container {margin: 0 auto;}
.wq_clearfix:before,.wq_clearfix:after {display: table;content: " ";}
.wq_clearfix:after {clear: both;}
.ie7 .wq_clearfix {zoom: 1;}

.hide {display:none;}
.dis-visibility {visibility: hidden;}
.wq_l_green {color: #00a5a5!important;font-size: 14px;}
.wq_l_orange {color: #f08300!important;font-size: 14px;}
.wq_l_orange:hover {text-decoration: underline;cursor: pointer;}
.wq_l_gray {color: #4f5959!important;font-size: 14px;}
.wq_has_index_content {text-indent: -20px; padding-left: 20px;}
.cover {position:fixed;_position:absolute;z-index:100;left:0;top:0;opacity:0.15;filter:alpha(opacity=15);background-color:#000;padding:10px;}
@media print {.not-print {display: none!important;}}

/* +++++++++++++++++++++++++
 * base style setter start +
 * +++++++++++++++++++++++++ 
 */
/*font size */
.font_size12 {font-size: 12px;}
.font_size13 {font-size: 13px;}
.font_size14 {font-size: 14px;}
.font_size16 {font-size: 16px;}
.font_size18 {font-size: 18px;}
.font_size20 {font-size: 20px;}
.font_size24 {font-size: 24px;}
.font_size28 {font-size: 28px;}
.font_size30 {font-size: 30px;}

/* font color */
.font_color_white  		{color: #fff;}
.font_color_black  		{color: #333;}
.font_color_light_gray 	{color: #aeaeae;}
.font_color_gray   		{color: #848484;}
.font_color_light_green {color: #008000;}
.font_color_green  		{color: #06a6a6;}
.font_color_red 		{color: #da0000;}
.font_color_orange 		{color: #f08300;}
.font_color_select  	{color: #06a6a6;}

/* font weight */
.font_bold {font-weight: bold;}

/* background color */
.bg_color_gray 	{background-color: #f9f9f9;}
.bg_color_white {background-color: #fff;}

/* border color */
.bd_color_gray   {border: 1px solid #cfdfdf;}
.bd_color_green  {border: 1px solid #06a6a6;}
.bd_color_orange {border: 1px solid #f08300;}

/* ++++++++++++++
 * header start +
 * ++++++++++++++
 */
#wq_header {width: 100%;font-family: "宋体";}
.wq_header_top{position: relative;z-index: 10;width: 100%;background-color: #2b2b2b;border-top: 3px solid #06a6a6;}
.wq_header_top_container{width: 1000px;margin: 0 auto;}
.wq_header_top_right{width: 518px;float: right;}
.wq_header_top_right li{position: relative;float: right;height: 37px;line-height: 37px;color: #7c7c7c;}
.wq_header_top_right li a{font-size: 13px;color: #7c7c7c;}
.wq_header_top_right .wq_header_top_right_li {float:none;height:25px;line-height:25px;}
.wq_header_wrapper_wrapper{position: relative;z-index: 8;border-bottom: 2px solid #d9d9d9;background-color: #fff;}
.wq_header_wrapper {position: relative;width: 1000px;padding: 18px 0 12px;z-index: 9999;}
#wq_logo {position: relative;float: left;left: 0;width: 168px;height: 60px;background: url(//quimg.com/img/common/woqu-all.png) no-repeat -264px -56px;}
.wq_header_nav {width: 634px;height: 60px;float: left;margin: 0 0 0 70px;}
.wq_header_nav > li {position: relative;float: left;padding: 20px 0 10px;line-height: 16px;}
.wq_header_nav > li > a {display: block;height: 100%;width: 100%;color: #2b2b2b;font-family: "Microsoft Yahei", "微软雅黑", Verdana, "宋体";}
.wq_nav_main_beta{display: block;position: absolute;padding-left: 28px;font-size: 10px;color: #ff0000;top: 6px;}
li.wq_header_current_li a {color: #f08300;}
.wq_header_wrapper li a:hover {color: #f08300;}
.wq_nav_main a {font-size: 14px;}
.wq_header_nav li.wq_right_divide {font-size: 14px;border: none;padding: 21px 7px 10px;}
.wq_nav_prepare_first{margin-left: 38px;}
li.wq_nav_prepare {margin-right: 7px;padding-top: 21px;}
li.wq_nav_prepare a{font-size: 12px;color: #06a6a6;}
.wq_nav_order{margin-right: 5px;}
li.wq_nav_order a{color: #06a6a6;}
li.wq_right_divide {font-size: 13px;border: none;padding: 0 12px;}
.subList li:hover{background: #333;}
.subList li:hover a{color: #fff;}
.subList li a {color: #183131;}
.wq_header_mycount > p {float: left;padding-right: 13px;background-image: url(//quimg.com/img/common/woqu-all.png);background-repeat: no-repeat;margin-left: 10px;font-size: 12px;}
.wq_header_mycount {z-index:10000;}
.wq_header_mycount > p {color: #fff;background-position: 57px -36px;}
.wq_header_mycount .wq_arrow_up {background-position: 57px -56px;}
#headMycount {margin-right: 10px;position: relative;}
.subList {display: none;position: absolute;z-index: 10000;left: 10px;top: 27px;background-color: #fff;border: 1px solid #e6e6e6;}
.phoneList {width: 455px;height: 37px;float: left;color: #b2b2b2;font-size: 12px;}
.phoneList li{float: left;padding: 12px 8px 11px 11px;line-height: 14px;}
.phoneList_number{font-family: verdana;}
.mycountList {width: 69px;height: 76px;}
.subList li {text-indent: 10px;line-height: 12px;font-size: 12px;font-family: Arial;color: #183131;}
.wq_header_follow{float: right;padding-top: 20px;width: 90px;}
.wq_header_follow a{display: block;background-image: url(//quimg.com/img/common/follow-icon.png);text-indent: -9999px;line-height: 0;float: left;}
.wq_header_follow_phone{width: 10px;height: 18px;background-position: 0 0;margin-left: 6px;}
.wq_header_follow_phone:hover, .wq_header_follow_phone_active{background-position: 0 -32px;}
.wq_header_follow_weibo{width: 22px;height: 16px;background-position: -32px 0;margin-left: 17px;margin-top: 1px;}
.wq_header_follow_weibo:hover, .wq_header_follow_weibo_active{background-position: -32px -32px;}
.wq_header_follow_wechat{width: 22px;height: 18px;background-position: -72px 0;margin-left: 13px;}
.wq_header_follow_wechat:hover, .wq_header_follow_wechat_active{background-position: -72px -32px;}
.wq_follow_sharp{display: block;width: 16px;height: 10px;background: url(//quimg.com/img/common/follow-sharp.png) 0 0 no-repeat;position: absolute;top: -8px;}
.wq_follow_wrap img{display: block;float: right;}
.wq_follow_wrap{position: absolute;border: 1px solid #cfdfdf;padding: 0 16px;background-color: #fff;font-family: "微软雅黑";top: 68px;}
.wq_follow_title{color: #000;font-size: 12px;}
.wq_follow_content{float: left;}
.wq_follow_mlink{color: #18bab6;font-size: 14px;font-weight: bold;margin-top: 10px;}
.wq_follow_mobile{padding: 18px 28px;z-index: 6;right: 2px;}
.wq_follow_mobile .wq_follow_sharp{right: 68px;}
.wq_follow_head{font-size: 12px;color: #000;margin-bottom: 24px;}
.wq_follow_txt{line-height: 24px;font-size: 14px;}
.wq_follow_txt span{color: #18bab6;}
.wq_follow_weibo{padding: 22px 28px 22px 16px;width: 276px;z-index: 5;right: -20px;}
.wq_follow_weibo .wq_follow_sharp{right: 58px;}
.wq_follow_weixin{padding: 22px 28px 22px 16px;width: 276px;z-index: 4;right: -20px;}
.wq_follow_weixin .wq_follow_sharp{right: 23px;}


/* +++++++++++++++++++
 * bread crumb start +
 * +++++++++++++++++++
 */
.wq_bread_crumb {font-size: 14px;line-height: 14px;color: #848484;padding-top: 15px;}
.wq_bread_crumb a {color: #00a5a5;cursor: text;}
.wq_bread_crumb .wq_bc_able {color: #848484;}
.wq_bread_crumb .wq_bc_able:hover {color: #f08300;cursor: pointer;}


/* ++++++++++++
 * body start +
 * ++++++++++++
 */
.wq_body_wrapper {width: 1000px;padding-bottom: 30px;}
.wq_body_wrapper_login {width: 1000px;min-height: 682px;}


/* ++++++++++++++
 * footer start +
 * ++++++++++++++
 */
.wq_footer_wrapper {width: 100%;font-size: 13px;background-color: #fff;font-family: Verdana, "宋体";}
.wq_footer {width: 1000px;margin: 0 auto;text-align: left;padding-top: 40px;}
.wq_copyright{padding-left: 170px;width: 600px;height: 42px;background: url(//quimg.com/img/common/footer-bottom-back.png) 0 0 no-repeat ;text-align: left;padding-top: 10px;font-size: 12px;line-height: 18px;float: left;}
.wq_copyright_span{margin: 0 10px 0 27px;}
.wq_copyright a {color: #c5c5c5;}
.wq_link {padding: 40px 0 20px 0;}
.wq_link li {margin-right: 10px;color: #768989;}
.wq_link a , .wq_footer_wrapper p {color: #c5c5c5;}
.wq_link a:hover {color: #f07c00;}
.wq_footer_top {padding-bottom: 40px;width: 1000px;margin: 0 auto;font-family: "微软雅黑";}
.wq_footer_top dl {float: left;width: 133px;height: 42px;padding-left: 67px;color: #757575;background-image: url(//quimg.com/img/common/woqu-all.png);background-repeat: no-repeat;}
.wq_footer_top dl dt {font-size: 16px;font-weight: 700;line-height: 18px;padding-top: 6px;color: #000;}
.wq_ft_product {background-position: -375px -388px;}
.wq_ft_price {background-position: -375px -447px;}
.wq_ft_kefu {background-position: -377px -506px;}
.wq_ft_safety {background-position: -379px -568px;}
.wq_ft_fee {background-position: -371px -625px;}
.wq_partner_wrapper {width: 1000px;margin: 0 auto;padding: 30px 0;border-top: 1px solid #515151;border-bottom: 1px solid #1e1e1e;}
.wq_p_link {float: left;margin-right: 10px;height: 38px;line-height: 52px;background-image: url(//quimg.com/img/common/bottom-partner-list.png);background-repeat: no-repeat;width: 78px;}
.lv_link {width: 80px;}
.wq_p_link a {display: block;height: 100%;width: 100%;}
.label_link {text-align: center;background-image: none;color: #fff;width: 100px;line-height: 38px;margin-right: 0;font-size: 18px;font-family: "微软雅黑";}
.nta_link {background-position: 0 0;}
.lv_link {background-position: -86px 0;}
.azot_link {background-position: -172px 0;}
.la_link {background-position: -258px 0;}
.gt_link{background-position: -344px 0;}
.tzls_link{background-position: -430px 0;}
.paypal_link {background-position: -516px 0;}
.zfb_link {background-position: -602px 0;}
.cft_link {background-position: -688px 0;}
.hnair_link{background-position: -774px 0;}
.wq_footer_bottom {text-align: center;border-top: 1px solid #515151;width: 1000px;margin: 0 auto;padding-top: 20px;}
.wq_cert_list {width: 170px;margin: 0 auto;padding: 15px 0 25px;float: left;}
.wq_cert_list li {float: left;}
.wq_cert_list a {display: block;width: 72px;height: 27px;background-image: url(//quimg.com/img/common/woqu-all.png);background-repeat: no-repeat;}
.wq_360cert {background-position: 0 -683px;margin-right: 10px;}
.wq_geocert {background-position: -80px -683px;margin-right: 10px;}
.wq_alipay {background-position: -160px -683px;}
.wq_footer_top_container{width: 100%;background-color: #e1e1e1;padding-top: 40px;}
.wq_footer_wrapper_container{width: 100%;background-color: #3e3e3e;}
.wq_footer_center{width: 1000px;margin: 0 auto;padding-top: 28px;padding-bottom: 27px;border-bottom: 1px solid #1e1e1e;}
.wq_footer_about{float: left;width: 100px;}
.wq_footer_about_title{color: #aeaeae;font-weight: bold;font-size: 12px;line-height: 14px;margin-bottom: 12px;}
.wq_footer_about_link{margin-bottom: 6px;}
.wq_footer_about_link a{font-size: 12px;color: #aeaeae;}
.wq_footer_about_link a:visited{color: #aeaeae;}
.wq_footer_about_link a:hover{color: #18bab6;}
.wq_footer_about_link_traveladviser{font-size: 12px;}
.wq_footer_about_link_traveladviser a{color: #18bab6;}
p.wq_footer_follow{float: left;line-height: 14px;font-size: 12px;font-weight: bold;color: #aeaeae;}
.wq_footer_follow img{margin-right: 20px;}
.wq_footer_adviser{float: right;text-align: left;}
p.wq_footer_adviser_title{font-weight: bold;color: #aeaeae;margin-bottom: 26px;}
p.wq_footer_adviser_phone{color: #767676;margin-bottom: 6px;}
.wq_footer_adviser_phone span{font-family: verdana;font-style: italic;font-size: 24px;color: #aeaeae;vertical-align: sub;}
.ie7 .wq_footer_adviser_phone span{vertical-align: middle;}


/* +++++++++++++++++++
 * bubble list start +
 * +++++++++++++++++++
 */
.wq_bubble_list {position: fixed;right: 1px;bottom: 150px;width: 60px;z-index: 10084;height: 366px;}
.wq_bubble_list > li {position: relative;float: left;width: 60px;height: 60px;background-color: #00a7a7;border-bottom: 1px solid #fff;}
li.wq_kefu_animate {display: none;position: absolute;top: 5px;right: -100px;width: 99px;height: 59px;border: none;background: url(//quimg.com/img/common/woqu-all.png) no-repeat -332px -811px;}
.wq_to_top {display: none;}
.wq_bubble_list > li > a {position: absolute;left: 0;top: 0;display: block;width: 60px;height: 60px;background-image: url(//quimg.com/img/common/woqu-all.png);background-repeat: no-repeat;cursor: pointer;}
#toTop {background-position: -184px 0;}
#toTop:hover {background-position: -123px 0;}
#feedBack {background-position: -184px -61px;}
#feedBack:hover {background-position: -123px -61px;}
#searchProduct {background-position: -184px -183px;}
#searchProduct:hover {background-position: -123px -183px;}
li.wq_bubble_no_bb {border-bottom: none;}
.wq_sp_form {position: absolute;width: 142px;height: 72px;border: 1px solid #e6e6e6;top: 0;left: -154px;background-color: #f6f6f6;padding: 15px 0 0 10px;display: none;}
#searchInput {width: 117px;height: 15px;border: 1px solid #a7aeac;}
#searchBtn {position: absolute;right: 10px;bottom: 10px;display: block;width: 47px;height: 20px;line-height: 20px;background-color: #f08300;text-align: center;font-size: 14px;margin: 15px 0 0 84px;}
#searchProductSpan {font-size: 12px;color: #f08300;}
#onlineKefu {background-position: -61px -852px;}
#onlineKefu:hover {background-position: 0 -852px;}
#qqKefu {background-position: -61px -791px;}
#qqKefu:hover {background-position: 0 -791px;}


/* +++++++++++++++
 * loading start +
 * +++++++++++++++
 */
.loading_tips_sm {width: 490px;height: 260px;font-size: 14px;color: #00a5a5;position: absolute;display: none;background-color: #fff;text-align: center;}
.loading_tips_sm span {line-height: 32px;height: 32px;display: inline-block;vertical-align: top;margin-left: 10px;}


/* ++++++++++++++++++++++++
 * vip login dialog start +
 * ++++++++++++++++++++++++
 */
.wp_vip_icon-reminder {display: inline-block;width: 12px;height: 12px;background: url(//quimg.com/img/common/v2-login-error.png) no-repeat;margin-right: 5px;}
.ie7 .wp_vip_icon-reminder{height: 15px;}
.icon-tab-triangle {display: none;position: absolute;z-index: 10;bottom: -12px;right: 50%;margin-left: -4.5px;width: 0;height: 0;border-left: 9px solid transparent;border-right: 9px solid transparent;border-top: 12px solid #f08300;}
.wp_vip_login_dialog {width: 498px;border: 1px solid #cfdfdf;}
.wp_vip_login_dialog_register {display: none;}
.wp_vip_login_dialog_header {width: 100%;border-bottom: 1px solid #cfdfdf;padding: 10px 0;background: #ecf8f4;}
.wp_vip_login_dialog_header .icon-close-large-blue {float: right;margin: 0 7px 0 0;cursor: pointer;}
.wp_vip_login_dialog_head_text {border-left: 4px solid #06a6a6;padding-left: 13px;font-size: 16px;color: #06a6a6;display: inline-block;margin-left: -1px;}
.wp_vip_login_dialog_sec {padding: 20px 40px;}
.wp_vip_login_dialog_sec_head {font-size: 0;padding-bottom: 40px;cursor: pointer;}
.ie7 .wp_vip_login_dialog_sec_head {height:28px;}
.wp_vip_login_dialog_sec_head .on {background: #f08300;color: white;border: 1px solid #f08300;position: relative;}
.wp_vip_login_dialog_sec_head .on .icon-tab-triangle {display: inline-block;}
.ie7 .wp_vip_login_dialog_sec_head .on {top:4px;}
.ie7 .wp_vip_login_dialog_sec_head .on .icon-tab-triangle {display: inline;zoom:1;}
.wp_vip_login_dialog_sec_tab {width: 49.5%;text-align: center;padding: 10px 0;display: inline-block;font-size: 14px;color: #333333;background: #f9fbfb;border: 1px solid #cfdfdf;}
.wp_vip_login_dialog_sec_tab:hover {background: #f08300;color: white;border: 1px solid #f08300;position: relative;}
.ie7 .wp_vip_login_dialog_sec_tab:hover {top:4px;}
.wp_vip_login_dialog_sec_tab:hover .icon-tab-triangle {display: inline-block;}
.ie7 .wp_vip_login_dialog_sec_tab {display: inline;zoom:1;}
.form_control dl {padding-bottom: 10px;}
.ie7 .form_control dl.err{margin-top: -10px;}
.form_control dl.err .wp_vip_login_dialog_form_header{height: 20px;}
.form_control dl:hover {padding-bottom: 10px;}
.form_control {margin-bottom: 50px;}
.form_control .wp_vip_login_dialog_form_header, .form_control .wp_vip_login_dialog_form_body {display: inline-block;}
.ie7 .form_control .wp_vip_login_dialog_form_header, .ie7 .form_control .wp_vip_login_dialog_form_body {display: inline;zoom:1;}
.form_control .wp_vip_login_dialog_form_header {width: 90px;text-align: right;vertical-align: text-top;color: #4c4c4c;font-size: 14px;}
.ie7 .form_control .wp_vip_login_dialog_form_header{vertical-align:middle;height:38px;}
.form_control .wp_vip_login_dialog_form_body {width: 70%;}
.form_control .wp_vip_login_dialog_input {padding: 10px 8px;width: 100%;border: 1px solid #cfdfdf;}
.form_control .wp_vip_login_dialog_input_err {border-color: #f08300;background-color: #fdf1ec;outline: none;}
.form_control .wp_vip_login_dialog_form_err {color: red;font-size: 12px;}
.form_control .wp_vip_login_dialog_input_short {width: 35%;}
.form_control .wp_vip_login_dialog_vercode {display: inline-block;margin: 0 10px;width: 35%;height: 36px;vertical-align: bottom;border: 1px solid #cfdfdf;}
.form_control .wp_vip_login_dialog_vercode_change {color: #f08300;font-size: 14px;}
.form_control .wp_vip_login_dialog_checkbox {text-align: center;padding: 11px 0 30px 0;}
.form_control .wp_vip_login_dialog_checkbox .comp_checkbox i {top: 4px;}
.ie7 .form_control .wp_vip_login_dialog_checkbox .comp_checkbox i {top: 14px;}
.form_control .wp_vip_login_dialog_checkbox .comp_active_checkbox i {top: -2px;}
.ie7 .form_control .wp_vip_login_dialog_checkbox .comp_active_checkbox i {top: 8px;}
.form_control .wp_vip_login_dialog_checkbox .wq_remenber_login {font-size: 14px;color: #333333;vertical-align: super;}
.form_control .wp_vip_login_dialog_btns {text-align: center;}
.form_control .wp_vip_login_dialog_login_btn {cursor: pointer;margin-right: 10px;display: inline-block;width: 100px;color: white;font-size: 18px;padding: 6px 0;background-color: #f08300;border:none;outline:none;}
.ie7 .form_control .wp_vip_login_dialog_login_btn {display: inline;zoom:1;}
.form_control .wp_vip_login_dialog_find_psd_btn {color: #f08300;font-size: 14px;}
.ie7 .form_control .wp_vip_login_dialog_find_psd_btn {display:inline;zoom:1;height:30px;line-height:20px;}
.form_control a:hover {text-decoration: underline;}
.wp_vip_login_dialog_sec_footer {text-align: center;}
.wp_vip_login_dialog_sec_footer ul {display: inline-block;}
.ie7 .wp_vip_login_dialog_sec_footer ul {display: inline;zoom:1;}
.wp_vip_login_dialog_text, .wq_vip_login_dialog_quick_login_link {color: #8e8e8e;font-size: 14px;vertical-align: top;}
.wq_vip_login_dialog_quick_login { display: inline-block;margin-right: 7px;}
.ie7 .wq_vip_login_dialog_quick_login {display: inline;zoom:1;}
.wq_vip_login_dialog_quick_login:last-child {margin-right: 0;}
.wq_vip_login_dialog_quick_login i {margin-right: 3px;}
.wq_place_holder {width: 300px !important;}
.wp_vip_result_text_wrapper {padding: 40px 0;text-align: center;background: #fff;}
.wp_vip_result_text_wrapper .wp_vip_dialog_text {font-size: 18px;color: #4c4c4c;margin-bottom: 40px;}
.wp_vip_result_text_wrapper .wp_vip_result_btn {border: 1px solid #dddddd;background: #f5f5f5;color: #f08300;font-size: 13px;line-height: 13px;width: 118px;cursor: pointer;padding: 10px 0;}
.wq_close_icon {position: absolute;top: 0;right: 1px;width: 17px;height: 17px;background-image: url(//quimg.com/img/common/d-close.png);cursor: pointer;}

/* +++++++++++++++++++++++
 * feedback dialog start +
 * +++++++++++++++++++++++
 */
.wq_feedback_dialog {position: fixed;top: 50%;left: 50%;margin-top: -170px;margin-left: -285px;width: 570px;min-height: 290px;background: #fff;padding: 20px;z-index: 1001;display: none;}
.wq_feedback_title {font-size: 18px;color: #062e2e;line-height: 18px;vertical-align: middle;padding-bottom: 10px;}
.wq_feedback_content {float: left;width: 548px;height: 180px;border: 1px solid #dce5e6;resize: none;padding: 10px;font-size: 14px;overflow: auto;font-family: Verdana;}
input.wq_your_email {float: left;width: 548px;height: 14px;line-height: 14px;font-size: 14px;border: 1px solid #dce5e6;padding: 8px 10px;margin-top: 8px;}
.wq_feedback_btn {padding: 20px 0 0 176px;}
.wq_feedback_btn a {float: left;width: 120px;height: 32px;}
.wq_fb_cancel {margin-right: 20px;background: url(//quimg.com/img/common/btn-list.png) -130px 0;}
.wq_fb_submit {background: url(//quimg.com/img/common/btn-list.png) -300px -310px;}
.wq_alert_div {position: absolute;z-index:9999;left:0;top:0;display:none;width: 232px;background-color: #004248;padding: 20px;}
.wq_alert_content {padding-left: 44px;font-size: 14px;color: #b0bcbd;line-height: 20px;}


/* ++++++++++++++++++++++++
 * old browser tips start +
 * ++++++++++++++++++++++++
 */
.browsehappy {position: fixed;width: 100%;height: 60px;line-height: 60px;text-align: center;top: 0;left: 0;background-color: #ff6600;z-index: 100000;font-size: 14px;color: #fff;}
.browsehappy > a {color: #ff9;border-bottom: 1px dotted #ff9;}


/* ++++++++++++++++++
 * icon style start +
 * ++++++++++++++++++
 */
.icon-all {display: inline-block;background: url(//quimg.com/img/common/woqu-all.png) no-repeat;}
.icon-detail-all {display: inline-block;background: url(//quimg.com/img/common/woqu-detail-all.png) no-repeat;}
.icon-rentcar-all {display: inline-block;background: url(//quimg.com/img/common/woqu-rentcar-all.png) no-repeat;}
.icon-link-list {display: inline-block;background: url(//quimg.com/img/common/link-list.png) no-repeat;}
.icon-passport-all {display: inline-block;background: url(//quimg.com/img/common/passport-icon.png) no-repeat;}
.icon-place-all {display: inline-block;background: url(//quimg.com/img/page/wq-palce-all.png) no-repeat;}
.icon-tt-all {display: inline-block;background: url(//quimg.com/img/page/tt-icons-all.png) no-repeat;}
.ie7 .icon-tt-all {zoom: 1;display: inline;}
.icon-down-triangular, .icon-up-triangular {width: 12px;height: 8px;margin-left: 7px;background-position: -80px -931px;}
.icon-up-triangular {background-position: -67px -931px;}
.icon-up-arr, .icon-down-arr, .icon-up-arr-active, .icon-down-arr-active{width: 12px;height: 15px;margin-left: 4px;background-position: -80px -943px;vertical-align: middle;}
.icon-down-arr {background-position: -67px -958px;}
.icon-arr-price:hover .icon-up-arr {background-position: -67px -943px;}
.icon-arr-price:hover .icon-down-arr {background-position: -80px -959px;}
.icon-arr-price-active .icon-down-arr {background-position: -80px -959px;}
.icon-arr-price-active .icon-up-arr {background-position: -67px -943px;}
.icon-down-single-arr {background-position: -61px -972px;width: 17px;height: 14px;}
.icon-down-single-arr-li li:hover .icon-down-single-arr {background-position: -76px -972px;width: 17px;height: 14px;}
.icon-up-arr-active, .icon-down-arr-active {background-position: -67px -943px;}
.icon-down-arr-active {background-position: -80px -960px;}
.icon-close{width: 12px;height: 12px;line-height: 12px;background-position: -420px -290px;margin-left: 8px;}
.icon-show{width: 8px;height: 8px;background-position: 0px -581px;margin-left: 3px;}
.icon-fold{width: 8px;height: 8px;background-position: 0px -552px;margin-left: 3px;}
.icon-triangle-fram{width: 18px;height: 11px;background-position: -331px -87px;}
.icon-close-large-blue{width: 16px;height: 17px;background-position: 0 -930px;vertical-align: middle}
.icon-recommand{width: 24px;height: 24px;background-position: -577px -82px;}
.icon-sprecialty, .icon-tick-large{width: 24px;height: 24px;background-position: -577px -323px;}
.icon-introduction{width: 24px;height: 24px;background-position: -577px -291px;}
.icon-tick-item{width: 15px;height: 15px;background-position: -585px -34px;}
.icon-video{width: 24px;height: 24px;background-position: -577px -111px;}
.icon-global{width: 24px;height: 24px;background-position: -577px -573px;}
.icon-close-large{width: 24px;height: 24px;background-position: -577px -357px;}
.icon-board{width: 24px;height: 24px;background-position: -577px -617px;}
.icon-attention{width: 24px;height: 24px;background-position: -577px -391px;}
.icon-reminder{width: 24px;height: 24px;background-position: -577px -659px;}
.icon-preference{width: 50px;height: 53px;background-position: -680px -791px;}
.icon-promotion{width: 40px;height: 36px;background-position: -527px -359px;}
.icon-white-star{width: 10px;height: 10px;background-position: -64px -931px;}
.icon-qq-login{width: 18px;height: 20px;background-position: -982px 0}
.icon-sina-login{width: 23px;height: 19px;background-position: -949px 0}
.icon-passport-photo{width: 29px;height: 20px;background-position: 0 -431px;}
.icon-passport{width: 29px;height: 25px;background-position: 0 -472px;}
.icon-info-form{width: 29px;height: 26px;background-position: 0 -296px;}
.icon-card{width: 29px;height: 22px;background-position: 0 0;}
.icon-invitation{width: 29px;height: 24px;background-position: 0px -163px;}
.icon-confirm{width: 23px;height: 26px;background-position: 0px -208px}
.icon-link-arr{display: inline-block;width: 13px;height: 13px;background: url(//quimg.com/img/page/wq-palce-all.png) 0 0 no-repeat;}
.icon-hot{display: inline-block;width: 40px;height: 15px;text-align: center;padding: 3px 0;color: #fff;font-size: 12px;font-style: normal;border-radius: 3px;background-color: #f08300;}
.icon-frame-small, .icon-frame-small-down{display: inline-block;width: 13px;height: 13px;border: 1px solid #cddede;background-color: #fff;font-size: 12px;color: #6fcdcd;font-style: normal;text-align: center;}
.icon-frame-small-down{-moz-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}
.icon-sqaure-small{width: 5px;height: 5px;display: inline-block;background-color: #00a5a5}
.icon-join-group{width: 27px;height: 34px;background-position: -46px 0}
.icon-carry-on{width: 43px;height: 33px;background-position: -46px -43px}
.icon-hotel{width: 31px;height: 33px;background-position: -46px -85px}
.icon-car{width: 35px;height: 26px;background-position: -46px -128px}
.icon-aside-search{width: 17px;height: 17px;background-position: 0 -40px;}
.icon-local,.icon-Chinese-service,.icon-plane{width: 60px;height: 60px;background-position: -73px 0;}
.icon-Chinese-service{background-position: -218px 0;}
.icon-plane{background-position: -145px 0;}
.icon-orange-star{width: 19px;height: 19px;background-position: 0 -66px;}
.icon-blue-bg{width: 22px;height: 22px;background-position: 0 -133px;}
.icon-hm-square{width: 2px;height: 2px;background-color: #333333;}
.icon-map-logo{width: 20px;height: 32px;background-position: 0 0;}
.icon-theme-logo{width: 17px;height: 30px;background-position: 0 -94px;}
.icon-map{width: 16px;height: 19px;background-position: 0 -164px;}
.icon-loading{display: inline-block;width: 31px;height: 31px;background: url(//quimg.com/img/common/loading.gif) no-repeat;}
.ie7 .icon-loading{zoom: 1;display: inline;}
.icon-sys-busy{width: 64px;height: 63px;background-position: -217px -900px;}
.icon-not-founed{width: 80px;height: 65px;background-position: -123px -901px}


/* +++++++++++++++++++
 * prefix us $ start +
 * +++++++++++++++++++
 */
.wq_price_country {font-size: 14px!important;color: #f08300;}
.wq_price_country_middle {font-size: 13px!important;color: #f08300;}
.wq_price_country_small {font-size: 12px!important;color: #f08300;}
.wq_price_country_nocolor {font-size: 14px!important;}
.wq_price_country_nocolor_middle {font-size:13px!important;}
.wq_price_country_nocolor_small {font-size:12px!important;}
.wq_price {font-size: 28px;}
.wp_book_email_input_err {border-color: #f08300!important;background-color: #fdf1ec!important;outline: none!important;color: rgb(51, 51, 51)!important;}


/* ++++++++++++++++++++
 * hai hang vip start +
 * ++++++++++++++++++++
 */
.hh_select {float: left;}
.hh_text {float: left;line-height: 13px;font-size: 13px;color: #333;}
.hh_info_btn {color: #00a7a7;text-decoration: underline;}
.hh_hide {position: relative;display: none;padding-top: 10px;}
.hh_input {border: 1px solid #cfdfdf;margin-right: 20px;}
.hh_input_wrapper, .hh_error_tips {position: relative;float: left;}
.hh_error_tips {display: none;color: #da0000;}


.wq_common_radio{display:none;}
.wq_common_radio_label{background:url('//quimg.com/img/common/d-unselect.png') 0 1px no-repeat;padding:0px 10px 2px 20px;}
.wq_common_radio_label_on{background:url('//quimg.com/img/common/d-select.png') 0 1px no-repeat;}
